/* image grid styles */
div{
  width: 70%;
}
.searchOrder{
  margin: 30px auto;
  text-align: center;
  input{
    width: 400px;
  }
}

.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}