.header {
  background: rgba(0, 0, 0, 0.185);
  //background: rgb(2, 55, 153);
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  right: 0;
  z-index: 10;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 35px;
  }
}
  
.header a:hover {
  text-decoration: underline;
}