.header {
  /* background: rgb(0, 0, 0);
  background: rgb(2, 55, 153); */
  color: #fff;
  text-align: center;
  padding: 10px;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
  }
}
  
.header a:hover {
  text-decoration: underline;
}