<div class="selection">
    <img [src]="'assets/trio-transparent.png'" id="trio"/>
    <div class="futurama-intro">
        <img [src]="'assets/logo-intro.png'" id="logo"/>
    </div>
</div>
<div class="container-1">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>
<div class="container-2" *ngIf="serie">
    <div class="about">
        <h2>About Show</h2>
    </div>
    <div id="ss" (scroll)="scrollAnimation()">
    </div>
    <div class="serieInfo" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
        {{serie.synopsis}}
    </div>
</div>
<div class="container-3">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>