div{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.header {
  background: rgba(0, 0, 0, 0.185);
  //background: rgb(2, 55, 153);
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  right: 0;
  z-index: 10;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 35px;
  }
}
  
.header a:hover {
  text-decoration: underline;
}

.intro-container{
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(0,0,0,1)), url(/assets/background-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  height: 85vh;
  overflow: hidden;
  padding-top: 70px;
  >div{
    width: 50%;
    display: inline-block;
    overflow: hidden;
  }
}
.futurama-intro{
  height: 100%;
  margin: 0;
  padding-top: 75px;
  #logo{
    height: 100px;
  }
  .serieInfo{
    color: wheat;
    background: rgba(0,0,0, 0.25);
    border-radius: 40px;
  }
}
#trio-container{
  text-align: right;
  height: 100%;
  position: relative;
  #trio{
    width: 55%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* .selection{
  background: url(/assets/background-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  width: auto;
  height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-self: center;
  bottom: 0;
}

.selection img{
  position: absolute;
  bottom: 15%;
  width: auto;
  height: 70%;
  object-fit: cover;
  pointer-events: none;
}

.futurama-intro{
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  left: 0;
}

#logo{
  height: 100px;
} */



.container-1{
  background: linear-gradient(to top,rgba(0,0,0,1), rgba(39, 39, 39, 0.5),rgba(0,0,0,1)), url(/assets/nebula.jpg);
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.container-2{
  color: #fff;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.8),rgba(0,0,0,0.9)),url(/assets/empty-space.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: left;
  #ss{
    position: relative;
    width: 35%;
    //right: 450px;
    //height: 100%;
    //background: url(../../../../../pics/space.gif);
    //background-repeat: no-repeat;
  }
}

.container-3{
  background: linear-gradient(rgba(0, 0, 0, 1) ,rgba(0, 0, 0, .1) , rgba(0, 0, 0, 1)), url(/assets/futurama-2.jpg);
  //background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:fixed;
}

.btns{
  width: 70%;

  .a{
    display: flex;
  }
}

button{
  padding: 50px 100px;
  margin-top: 2rem;
}

//Scroll Animation
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: $red;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

// Button wrap
.container { 
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}


//default button
.btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
    
  }
  
  &:hover {
    text-decoration: none;
  }
  
}

////////////////////////////
//button two
//////////////////////////
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(rgb(255, 255, 255), 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(255, 255, 255, 0.4);
  transition: width 350ms ease-in-out;
  width: auto;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: auto;
}

