<div class="container-1">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>
<div class="container-2">
    <div data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">

        
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ligula felis, fringilla nec luctus non, dictum et odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ultricies nulla bibendum feugiat. Ut ac felis laoreet, gravida sapien tincidunt, sollicitudin libero. Cras aliquam et nunc nec laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis lobortis massa.
        
        Sed malesuada posuere velit ut vestibulum. Pellentesque massa lorem, consectetur a lacus quis, venenatis venenatis mi. Sed vitae arcu purus. Phasellus lacinia odio et blandit fermentum. Sed pharetra facilisis enim, ac pharetra erat cursus in. Nam id lorem urna. Phasellus tincidunt condimentum nulla, nec varius turpis finibus ac. Curabitur et enim massa.
        
        Sed vitae sollicitudin mi. Aliquam sed enim a dolor rutrum feugiat nec non sem. Mauris sapien libero, ultricies luctus elit sodales, finibus tempus mauris. Praesent sollicitudin, urna ac tincidunt aliquam, tortor velit lobortis turpis, in dignissim enim nisl et sapien. Nulla quis ipsum in tortor suscipit accumsan nec venenatis augue. Sed et dictum massa, et commodo libero. Donec porta, massa eget tristique finibus, elit nisl gravida orci, tempor luctus leo leo quis sapien. Aenean suscipit finibus mi, sit amet semper sapien pretium sit amet. Donec sollicitudin ullamcorper elit, auctor auctor mauris euismod vitae. Mauris bibendum ante molestie justo ultricies, id vulputate mauris pretium.
        
        Nam convallis laoreet dui, viverra tristique nisi facilisis sit amet. Nam luctus, massa sit amet ornare ornare, nisl quam aliquam mi, eget faucibus arcu leo cursus dolor. Donec lacinia eu lacus a dignissim. Quisque rhoncus lectus dictum dui viverra, at tempor velit molestie. Donec nec tortor ut tortor fringilla pulvinar. Sed ac massa eget elit imperdiet pellentesque. Vivamus varius neque ac vestibulum congue. Phasellus est diam, laoreet volutpat pharetra a, faucibus sed magna.
        
        Nulla facilisi. Mauris consequat ultricies luctus. Nunc vestibulum dolor id dui ullamcorper, a iaculis turpis semper. Nunc ac sapien quis odio hendrerit congue. Aliquam id dolor blandit metus convallis aliquet. Fusce a pretium elit, id tempor magna. Aenean blandit nisl eu ex euismod interdum. Nunc egestas ultrices sapien, sed placerat nunc interdum sed. Quisque commodo elit nec magna congue sodales. 
    </div>
</div>
<div class="container-3">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>