div{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.selection{
  background: url(../../../../assets/background-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-self: center;
  bottom: 0;
}

.selection img{
  position: absolute;
  bottom: 15%;
  width: auto;
  height: 70%;
  object-fit: cover;
  pointer-events: none;
}

.futurama-intro{
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  left: 0;
}

#logo{
  height: 15%;
  top: 10%;
}



.container-1{
  background: linear-gradient(to top,rgba(0,0,0,1), rgba(39, 39, 39, 0.5),rgba(0,0,0,1)), url(../../../../../pics/nebula.jpg);
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.container-2{
  color: #fff;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.8),rgba(0,0,0,0.9)),url(../../../../../pics/empty-space.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  #ss{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../../../pics/space.gif);
    background-repeat: no-repeat;
  }
  .serieInfo{
    width: 70%;
    position: relative;
    background: rgba(0,0,0, 0.7);
    border-radius: 40px;
  }
}

.container-3{
  background: linear-gradient(rgba(0, 0, 0, 1) ,rgba(0, 0, 0, .1) , rgba(0, 0, 0, 1)), url(../../../../../pics/futurama-2.jpg);
  //background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:fixed;
}

.btns{
  width: 70%;

  .a{
    display: flex;
  }
}

button{
  padding: 50px 100px;
  margin-top: 2rem;
}

//Scroll Animation
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: $red;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

// Button wrap
.container { 
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}


//default button
.btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
    
  }
  
  &:hover {
    text-decoration: none;
  }
  
}

////////////////////////////
//button two
//////////////////////////
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(rgb(255, 255, 255), 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(255, 255, 255, 0.4);
  transition: width 350ms ease-in-out;
  width: auto;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: auto;
}

