<div class="container-1">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>
<div class="container-2" *ngIf="serie">
    <div id="ss" (scroll)="scrollAnimation()">
    </div>
    <div class="serieInfo" data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom">
        {{serie.synopsis}}
    </div>
</div>
<div class="container-3">
    <div class="btns" data-aos="zoom-in">
        <a type="button" [routerLink]="'/characters'" class="btn btn-2">Character</a>
        <a type="button" [routerLink]="'/episodes'" class="btn btn-2">Episodes</a>
        <a class="btn btn-2">Quiz</a>
        <a class="btn btn-2">Cast</a>
    </div>
</div>