<div [ngClass]="setClasses()" class="card-container">

	<div class="front">
		<div class="firstContainer">
			<div class="name">
				<p>{{character.Name}}</p>
			</div>
    		<div id="{{character.Id}}" class="img">
				<div class="frontInfo">
					<p>{{character.Species}}</p>
					<p>{{character.Profession}}</p>
				</div>	
			</div>
		</div>
	</div>
	<div class="back">
		<div class="firstContainer">
			<div class="name">
				<p>{{character.Name}}</p>
			</div>
			<div class="backInfo">
				<div class="planet">
					<!--
						Image of characters home planet 
						with name of planet on top.
					-->
				</div>
				<p>Age: {{character.Age}}</p>
				<p>Appearance: {{character.FirstAppearance}}</p>
				<p>VoicedBy: {{character.VoicedBy}}</p>
			</div>
			<div class="lifeStatus">
				<!-- Gif to represent alive/(dead or Unknown) -->
				{{character.Status}}
			</div>
			<div class="relatives">
				<!-- Dropdown for relatives -->
				Relatives
			</div>
		</div>
	</div>










  <!-- <div class="cardView">
    <div class="infoCard">
      <div>
        !--Fix height for name so cardview looks same regardless of name length--
        <span class="name">{{character.Name}}</span>
      </div>
      <br>
      <div class="img">
        <img src="{{character.PicUrl}}" width="150px" height="187px"/>
      </div>
      <div class="status">
        ({{character.Status}})
      </div>
      <div>
        <button>Action 1</button>
        <button>Action 2</button>
      </div>
      <br>
      !--Fix dropdown menu to display character information--
      <div class="dd">

        <button class="dd-btn">Information</button>
        <div class="dd-content">
          
          <div *ngIf="character.Age">
            <span>Age:</span> 
             <p>{{character.Age}}</p>
          </div>
          <div *ngIf="character.Species">
            <span>Species:</span>
            <p>{{character.Species}}</p>
          </div>
          <div *ngIf="character.Planet">
            <span>Planet:</span>
            <p>{{character.Planet}}</p>
          </div>
          <div *ngIf="character.Profession">
            <span>Profession:</span> 
            <p>{{character.Profession}}</p>
          </div>
          <div *ngIf="!character.Relatives.includes('relatives')">
            <span>Relatives:</span>
            <p>{{character.Relatives}}</p>
          </div>
          <div *ngIf="character.FirstAppearance">
            <span>FirstAppearance:</span>
            <p>{{character.FirstAppearance}}</p>
          </div>
          <div *ngIf="character.VoicedBy">
            <span>VoicedBy:</span>
            <p>{{character.VoicedBy}}</p>
          </div>
          
        </div>
      </div>
  </div>
  </div> -->

    <!--#region Leela color change  -->
    <!-- <div class="cardView-Leela"  *ngIf="character.Name.includes('Leela')">

      <div>
        <h1>{{character.Name}}</h1>
        <br>
        <div *ngIf="character.Status">
          <span >Status: {{character.Status}}</span>
        </div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <button>Action 1</button>
        <button>Action 2</button>
      </div>
      <div>
        Name: {{character.Name}}
        <br>
        <div *ngIf="character.Status">
          Status: {{character.Status}}
          <br>
        </div>
        <div *ngIf="character.Age">
          Age: {{character.Age}}
          <br>
        </div>
        <div *ngIf="character.Species">
          Species: {{character.Species}}
          <br>
        </div>
        <div *ngIf="character.Planet">
          Planet: {{character.Planet}}
        </div>
      </div>
    </div> -->
  <!--#endregion -->
  
</div>


