  <div [ngClass]="setClasses()">
  

  <!--#region Leela color change  -->
    <!-- <div class="cardView-Leela"  *ngIf="character.Name.includes('Leela')">

      <div>
        <h1>{{character.Name}}</h1>
        <br>
        <div *ngIf="character.Status">
          <span >Status: {{character.Status}}</span>
        </div>
      </div>
      <div>
        <div></div>
      </div>
      <div>
        <button>Action 1</button>
        <button>Action 2</button>
      </div>
      <div>
        Name: {{character.Name}}
        <br>
        <div *ngIf="character.Status">
          Status: {{character.Status}}
          <br>
        </div>
        <div *ngIf="character.Age">
          Age: {{character.Age}}
          <br>
        </div>
        <div *ngIf="character.Species">
          Species: {{character.Species}}
          <br>
        </div>
        <div *ngIf="character.Planet">
          Planet: {{character.Planet}}
        </div>
      </div>
    </div> -->
  <!--#endregion -->
  
  
  <div class="cardView">
    <div>
      <span class="name">{{character.Name}}</span>({{character.Status}})
    </div>
    <div>
      <button>Action 1</button>
      <button>Action 2</button>
    </div>
    <br>
    <div>
      <div *ngIf="character.Age">
        Age: {{character.Age}}
        <br>
      </div>
      <div *ngIf="character.Species">
        Species: {{character.Species}}
        <br>
      </div>
      <div *ngIf="character.Planet">
        Planet: {{character.Planet}}
      </div>
    </div>
  </div>
  
</div>


