  <div [ngClass]="setClasses()">
    
  <mat-card>
    <mat-card-title>
      <div mat-card-title-text>
        <span class="mat-headline">{{character.name.first}} {{character.name.middle}} {{character.name.last}}</span>
        <br>
        <div *ngIf="character.gender">
          <span class="mat-subheading-2">Gender: {{character.gender}}</span>
        </div>
        <div *ngIf="!character.gender">
          <span class="mat-subheading-2">Gender: {{character.info.gender}}</span>
        </div>
      </div>
      <div mat-card-title-media>
        <div class="mat-media-lg card-media"></div>
      </div>
    </mat-card-title>
    <mat-card-actions layout="row" layout-align="end center">
      <button mat-button>Action 1</button>
      <button mat-button>Action 2</button>
    </mat-card-actions>
  </mat-card>
  

    <div>
      Name: {{character.name.first}} {{character.name.middle}} {{character.name.last}}
      <br>
      <div *ngIf="character.gender">
        Gender: {{character.gender}}
        <br>
        </div>
        <div *ngIf="!character.gender">
        Gender: {{character.info.gender}}
        <br>
        </div>
        <div *ngIf="character.age">
          Age: {{character.age}}
          <br>
        </div>
          <div *ngIf="!character.age">
            Age: {{character.info.age}}
          </div>
        <div *ngIf="character.species">
          Species: {{character.species}}
          <br>
        </div>
        <div *ngIf="!character.species">
          Species: {{character.info.species}}
          <br>
        </div>
        <div *ngIf="character.homePlanet">
          Planet: {{character.homePlanet}}
        </div>
        <br><br><br>
      </div>
    </div>