.season{
  font-weight: bolder;
}

.accordion{
  width: 80%;
  margin: auto;
}

.episodeinfo{
  width: 80%;
  text-align: center;
  margin: auto;
  .bottom div{
    display: inline-block;
    padding: 0 35px;
    margin: auto;
  }
}

