<div>Episode Description: <p id="desc"></p></div>

<br><br>
<!--<div *ngFor="let episode of episodes" 
  (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'; DescSelected(episode.desc)"
  [ngClass]="{ hideChildren : ele.class !== 'showChildren' }"
 [title]="episode.title" #ele>

    <b>Episode:</b> {{episode.title}} <b>Click Me</b>
    <div><b>Writer:</b> {{episode.writers}}</div>
    <div><b>Air Date:</b> {{episode.originalAirDate}}</div>
    
</div>-->
<div>
  <div *ngFor="let episode of episodes; let i = index">
    <a (click)="DescSelected(i,episode.desc)" class="btn btn-info">{{episode.title}}</a>
    <div id="episodeInfo{{i}}" style="display:none">
      season: {{episode.season}}<br>
      {{episode.writers}}<br><br>
      {{episode.originalAirDate}}
    </div>
  </div>
</div>