

div{
  padding: 4px;
}

.accordion{
  width: 80%;
  margin: auto;
}

/* p {
  font-family: Lato;
} */

.btn-info{
  color: inherit;
  border-bottom: solid 1px gray;
}

.btn-info:hover{
  cursor: pointer;
}

.season{
  font-weight: bolder;
}


.episodeinfo{
  display: none;
  width: 80%;
  text-align: center;
  margin: auto;
  .bottom div{
    display: inline-block;
    padding: 0 35px;
    margin: auto;
  }
}

#season1, #season2, #season5, #season4{
  display: none;
}

.seasonContainer{
  width: 60%;
  margin: auto;
  background-color: gray;
}

.side{
  float: left;
  width: 50%;
}


.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  overflow: hidden;
}